/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require ./reset.css
 *= require_tree .
 *= require_self
 */

.ReactModal__Overlay--after-open.ReactModal__Overlay {
  z-index: 11;
  background: RGBa(16, 16, 16, .7) !important;
  /*modal uses inline styling -- I wouldn't use important to override anything I'd actually written!*/
}

.fake-button {
  background: #66AA33;
  color: #F1F1F1;
  font-size: 14px;
  display: flex;
  border-radius: 4px;
  box-shadow: 0px 0px 0.5px #F1F1F1;
  min-width: 100px;
  justify-content: center;
  padding: 10px 30px;
}

a:hover {
  cursor: pointer;
}

a:not(.fake-button):hover {
  color: #66AA33;
}

.hulubaloo-logo {
  width: 135px;
  height: 25px;
}
