.comments {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #3c3c3c;
  max-height: 100%;
}

.comments .category-header {
  min-width: auto;
  width: auto;
  margin-top: 60px;
  background: RGBa(19, 19, 19, 0.95);
  border-bottom: 1px solid #585858;
}

.comments .category-header h1 {
  width: 90%;
  align-self: center;
  text-align: left;
}

.top-level-comments {
  margin: 6px 3px;
  /*max-height: 80%;*/
}

.scrolly-box {
  overflow-y: scroll;
  max-height: 85vh;
  padding: 10px auto;
  border-top: 1px solid #66AA33;
  border-bottom: 1px solid #66AA33;
  border-radius: 5px;
}

.top-level-comments * {
  font-weight: 200;
}

.top-level-comments h2 {
  text-transform: uppercase;
}

.top-level-comments .timestamp {
  color: #66AA33;
}

.top-level-comment {
  .margin-left: 10px;
}

.top-level-comment .comment-head * {
  margin-right: 6px;
}

.top-level-comment h2 {
  font-size: 24px;
}

.top-level-comment p {
  font-size: 18px;
}

.children {
  margin-left: 10px;
}

.child-comment {
  margin-left: 5px;
}

.child-comment .comment-head * {
  margin-right: 4px;
}

.child-comment h2 {
  font-size: 20px;
}

.child-comment p {
  font-size: 14px;
}

.comment-body {
  word-wrap: break-word;
}

.comment-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.comment:hover .comment-head * {
  color: #66AA33;
}

.comment {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 4px;
  background: #2b4815;
  padding: 3px 4px;
  color: #AAA;
}

.comment p {
  color: #FFF;
}

.comment.me {
  /*background: #A94F18;*/
  /*background: #ab4e15;*/
  /*background: #555555;*/
  background: #272727;
}

.new-comment-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: inherit;
  margin: 4px;
}

.top-level-comment-form textarea {
  min-height: 65px;
}

.nested-comment-form textarea {
  height: 27px;
}

.new-comment-form *:first_child {
  margin-right: 2px;
}

.new-comment-form *:last_child {
  margin-left: 2px;
}

.new-comment-form textarea {
  border-radius: 5px;
  width: 82%;
  max-width: 82%;
  padding: 4px;
  font-size: 14px;
}

.new-comment-form .fake-button {
  min-width: 0;
  width: 8%;
  height: 100%;
  padding: 9px;
  font-size: 14px;
  line-height: inherit;
  margin: 0px auto;
}

.top-level-comment .fake-button {
  align-self: flex-end;
}

.child-comment .fake-button {
  align-self: flex-start;
}
