.featured-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.featured-categories h1 {
  font-size: 26px;
  color: #AAAAAA;
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  padding: 20px 0px;
}

.featured-categories-row {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.featured-categories-row ul {
  display: flex;
  flex-direction: row;
}

.featured-categories-videos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-video {
  width: 220px;
  height: 318px;
  border: 2px solid #FFF;
}

.featured-video.no-show {
  border: transparent;
}

.carrot {
  font-size: 34px;
}
