footer {
  background-color: #DDDDDD;
  width: 100%;
  height: 50px;
  font-size: 12px;
  font-weight: normal;

  display: block;
}

.footer-nav {
  height: 100%;
  color: #888888;
}

.footer-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-ul li {
  padding: 0px 7px;
}

.footer-ul > li:first-of-type {
  padding-left: 0px;
}

.footer-ul > li:last-of-type {
  padding-right: 0px;
}
