header {
  width: 100%;
  height: 60px;
  font-size: 15px;
  font-weight: normal;

  display: flex;
  position: fixed;
  z-index: 10;
  align-items: center;
}

.on-masthead {
  background: linear-gradient(RGBa(0, 0, 0, 0.95), transparent);
  transition: background .8s;
}

.off-masthead {
  background-color: RGBa(0, 0, 0, 0.85);
  transition: background .8s;
}

.header-nav {
  height: 100%;
  color: #FFF;
}

.user-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-menu > li {
  margin-left: 25px;
  height: 25px;
  display: flex;
  align-items: center;
}

.user-dropdown {
  display: flex;
  flex-direction: column;
}

.user-dropdown > a {
  padding: 6px 0px 8px;
}

.user-dropdown-items {
  font-size: 13px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
  min-height: 35px;
  color: #aaaaaa;
  border: 1px solid #444444;
  border-radius: 5px;
  background: RGBa(0, 0, 0, 0.85);
}

.user-dropdown-items > li {
  margin: auto;
  justify-content: center;
}

.user-dropdown:hover {
  color: #66AA33;
}

.user-dropdown:hover .user-dropdown-items {
  visibility: visible;
}

.user-menu a {
  display: inline-block;
}
