header {
  width: 100%;
  height: 60px;
  font-size: 15px;
  font-weight: normal;

  display: block;
  position: fixed;
}

.on-masthead {
  background: linear-gradient(RGBa(0, 0, 0, 0.45), transparent);
}

.off-masthead {
  background-color: RGBa(0, 0, 0, 0.85);
}

.header-nav {
  height: 100%;
  color: #FFF;
}

.user-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-menu > li {
  margin-left: 25px;
  display: flex;
  height: 25px;
}

.user-menu a {
  display: inline-block;
  align-self: center;
}
