.featured-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

.video-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 164px;
  background: #FFFFFF;
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
}
