.masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 367px;
  height: 68vh;
  max-height: 600px;
  background-color: #292929;
}

.masthead:after {
  content: 'hulubaloo is hulu. plus.';
  text-transform: uppercase;
  font-style: italic;
  position: absolute;
  color: #66AA33;
  font-weight: bold;
  font-size: 52px;
  margin-top: 3.2em;
  text-shadow: 0px 0px 10px #000;
  width: 100%;
  text-align: center;
  align-self: baseline;
}

.masthead-featured {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  height: 100%;
  opacity: 0.6;
}

.masthead-featured img {
  width: 25%;
  height: 100%;
}

.masthead-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
}

.masthead-buttons .fake-button {
  margin-left: 60px;
  margin-bottom: 45px;
}
