.masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 367px;
  height: 68vh;
  max-height: 600px;
  background-color: #292929;
  width: 100%;
}

.masthead-text {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-size: 56px;
  color: #64A931;
  text-shadow: 1px 1px 0px #292929;
  position: absolute;
  width: 100%;
  max-width: 1600px;
  text-align: center;
  align-self: flex-start;;
  margin-top: 15%;
}

.masthead-featured {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  height: 100%;
  opacity: 0.3;
}

.masthead-featured img {
  width: 25%;
  height: 100%;
}

.masthead-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
}

.masthead-buttons .fake-button {
  margin-left: 60px;
  margin-bottom: 45px;
}
