.video-detail .masthead {
  height: 70vh;
  max-height: none;
  padding-top: 45px;
  background: linear-gradient(#292929, #3c3c3c);
}

.video-in-mast {
  margin: auto;
  width: 75%;
  height: 95%;
  align-self: flex-start;
  border: 1px solid #3c3c3c;
  box-shadow: 0px 0px 5px 1px RGBa(30, 30, 30, 0.7);
  background: #000;
  color: #e6e6e6;
  font-size: 22px;
  display: flex;
  align-items: flex-start;
}

.video-in-mast.min-width {
  min-width: 944px;
}

.logged-out-roadblock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5% 0% 5% 7%;
}

.logged-out-roadblock h1 {
  text-shadow: 0 2px #000;
  font-size: 22px;
  color: #e6e6e6;
}

.logged-out-roadblock > p {
  font-size: 16px;
  color: #d2d2d2;
}

.video-player-buttons .fake-button {
  margin-bottom: 10%;
}

.logged-out-roadblock * {
  margin-top: 4%;
}

.or-login-blurb {
  color: #d2d2d2;
  font-size: 15px;
  margin-top: 14%;
}

.or-login-blurb * {
  display: inline;
  color: #66AA33;
  margin-left: 5px;
}

.video-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #3c3c3c;
  padding-bottom: 2%;
}

.right-side-container {
  display: flex;
  flex-direction: column;
  color: #AAAAAA;
  margin-left: 4%;
  width: 55%;
  justify-content: space-between;
}

.video-info-text {
  display: flex;
  flex-direction: column;
}

.not-fixed {
  position: relative;
}

.video-info-text h1 {
  font-weight: 200;
  font-size: 27px;
  text-shadow: rgba(0,0,0,0.75) 0px 1px;
}

.separator {
  width: 100%;
  height: 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #888888;
  margin-bottom: 16px;
  margin-top: 10px;
}

.video-info-text p,
.create-movie-night p {
  font-size: 14px;
}

.create-movie-night {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0px auto auto;
}

.create-movie-night p {
  padding-top: 12px;
}

.create-movie-night .fake-button {
  margin-top: 10px;
  padding: 0px 10px;
}
